.btn {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;

  &--default {
    padding: 15px;
  }

  &--outlined {
    border: 1px solid rgba(0, 0, 0, 0.2);

    &:hover {
      border: 1px solid $yellow-light;
      background: $yellow-light;
      color: $main-color;

      svg {
        fill: $main-color;
      }
    }
  }

  svg {
    width: 21px;
    height: 15px;
    margin-right: 10px;
  }

  &--more {
    color: $main-color;
    transition: color 0.2s ease;

    &:hover {
      color: $hover-color;
    }

    span {
      margin-right: 10px;
    }

    svg {
      width: 10px;
    }
  }

  &--fb {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s ease, border 0.2s ease;

    svg {
      width: 9px !important;
      height: 18px !important;
      fill: #3752a1;
      transition: fill 0.2s ease;
      margin-right: 0;
    }

    &:hover {
      border: 1px solid #3752a1;
      background: #3752a1;

      svg {
        fill: $main-color;
      }
    }
  }

  &--yellow {
    background: $yellow-light;
    color: $main-color;

    svg {
      fill: $main-color;
    }

    &:hover {
      color: $main-color;
    }
  }

  &--green {
    background: #1ab558;
    color: $main-color;

    &:hover {
      color: $main-color;
    }
  }

  &--play {
    width: 75px;
    height: 75px;
    background: $hover-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

      svg {
        transform: scale(1);
      }
    }

    svg {
      width: 25px;
      height: unset;
      margin-right: 0;
      fill: $main-color;
      transform: scale(0.9);
      transition: transform 0.3s ease;
    }
  }
}
