input {
  border: none;
  outline: none;
  transition: 0.2s ease;

  &::placeholder {
    opacity: 0.5;
  }

  &:hover::placeholder {
    opacity: 0.7;
  }

  &:focus::placeholder {
    opacity: 1;
  }
}
