.select {
  padding: 14px 15px;
  background: $main-color;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  &--strong {
    padding: 15px 15px;
  }

  &--transparent {
    background: rgba(255, 255, 255, 0.8);
  }

  &--transparent {
    border: 1px solid rgba(255, 255, 255, 0.8);
  }

  &__label {
    img {
      width: 24px;
      height: 16px;
    }
  }

  &__arrow-down {
    margin-left: 50px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--bordered {
      border: 1px solid #eeedf7;
    }

    &--contained {
      background: $main-color;
    }
  }

  svg {
    width: 10px;
    height: 10px;
  }

  &.search {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
