.filters {
  padding: 10px 0;
  background: url("../images/filters-bg.png");
  background-size: cover;

  &__container {
    position: relative;
  }

  .temperature {
    .select__arrow-down {
      margin-left: 20px;
    }
  }
}
