@keyframes chartjs-render-animation {
  from {
    opacity: .99; }
  to {
    opacity: 1; } }

.chartjs-render-monitor {
  animation: chartjs-render-animation 1ms; }

.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
  position: absolute;
  direction: ltr;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1; }

.chartjs-size-monitor-expand > div {
  position: absolute;
  width: 1000000px;
  height: 1000000px;
  left: 0;
  top: 0; }

.chartjs-size-monitor-shrink > div {
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@font-face {
  font-family: main;
  src: url("../fonts/MyriadGEOMtavruliMedium_0.ttf"); }

@font-face {
  font-family: mainBold;
  src: url("../fonts/MyriadGEOMtavruliBold.otf"); }

@font-face {
  font-family: secondary;
  src: url("../fonts/HelveticaNeueLTGEO-55Roman.ttf"); }

@font-face {
  font-family: secondaryBold;
  src: url("../fonts/HelveticaNeueLTGEO-75Bold.ttf"); }

body {
  font-family: main;
  font-size: 14px; }

.select {
  font-size: 14px;
  font-family: secondary; }
  .select--strong {
    font-family: main; }

.dropdown {
  font-family: secondary;
  font-size: 14px; }

.forecast {
  font-family: secondary;
  font-size: 13px; }
  .forecast__city-name {
    font-size: 30px; }
  .forecast__datetime {
    font-family: secondary;
    font-size: 13px; }
  .forecast__weather {
    font-family: secondaryBold;
    font-size: 16px; }
  .forecast__temp {
    font-family: mainBold;
    font-size: 40px; }
  .forecast__days {
    font-family: main; }
    .forecast__days-title {
      font-size: 18px; }
    .forecast__days-day {
      font-size: 15px; }
    .forecast__days-item-details article {
      font-family: secondary; }
    .forecast__days-day-night {
      font-size: 20px;
      font-family: secondaryBold; }
    .forecast__days-right {
      font-family: secondary;
      font-size: 13px; }
      .forecast__days-right header {
        font-family: main;
        font-size: 17px; }
  .forecast__item-header {
    font-size: 13px; }

.tv__circle {
  font-family: secondaryBold;
  font-size: 10px; }

.weather-hours {
  font-family: secondary;
  font-size: 15px; }
  .weather-hours__title {
    font-family: main;
    font-size: 18px; }
  .weather-hours__list-item-desc {
    font-size: 14px; }
  .weather-hours__list-item-temp {
    font-size: 17px;
    font-family: secondaryBold; }
    .weather-hours__list-item-temp sup {
      font-family: secondary; }
  .weather-hours__footer {
    font-family: main; }

.currency__title {
  font-size: 18px; }

.currency__list-item-convert {
  font-family: secondary; }

.copyright {
  font-family: secondary; }

@media (max-width: 1199px) {
  .forecast__days-day-night {
    font-size: 16px; } }

@media (max-width: 991px) {
  .header__nav-mobile {
    font-size: 16px; } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  background: url("../images/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  body:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(14, 38, 46, 0.4); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  margin-bottom: 0; }

ul,
label,
figure {
  list-style-type: none;
  margin-bottom: 0; }

a,
a:hover {
  color: inherit;
  text-decoration: none; }

.container {
  transition: max-width 0.2s ease; }
  .container.main {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto; }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

select {
  background: red; }

.header {
  padding: 25px 0;
  background: rgba(9, 13, 20, 0.4); }
  .header__nav-mobile {
    display: none; }
  .header__nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .header__nav li:not(:last-child) {
    margin-right: 5px; }
  .header__nav-item {
    padding: 15px;
    color: #fff;
    background: transparent;
    border-radius: 5px;
    transition: color 0.3s ease, background 0.3s ease; }
    .header__nav-item svg {
      width: 18px;
      height: 18px;
      fill: #fff;
      margin-top: -5px;
      margin-right: 2px; }
    .header__nav-item.active, .header__nav-item:hover {
      color: #f9b024;
      background: rgba(255, 255, 255, 0.1); }
    .header__nav-item--tv {
      background: #fb0b32; }
      .header__nav-item--tv:hover {
        background: #fb0b32;
        color: #fff; }
  .header__mobile-bar {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease; }

.filters {
  padding: 10px 0;
  background: url("../images/filters-bg.png");
  background-size: cover; }
  .filters__container {
    position: relative; }
  .filters .temperature .select__arrow-down {
    margin-left: 20px; }

.forecast {
  margin-top: 25px;
  color: #fff; }
  .forecast__content {
    padding: 25px 28px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(13, 29, 35, 0.5); }
  .forecast__datetime svg {
    fill: #fff;
    width: 12px;
    height: 12px;
    margin-right: 5px; }
  .forecast__footer {
    padding: 25px 28px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(255, 255, 255, 0.12); }
  .forecast__weather-image img {
    width: 140px; }
  .forecast__days {
    padding: 20px;
    background: rgba(13, 29, 35, 0.5);
    border-radius: 5px;
    height: 100%; }
    .forecast__days-title svg {
      fill: #fff;
      width: 25px;
      height: 25px; }
    .forecast__days-content {
      margin-top: 25px; }
    .forecast__days-items {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 4px; }
    .forecast__days-item {
      text-align: center; }
      .forecast__days-item:not(:last-child) {
        border-right: 1px solid rgba(255, 255, 255, 0.2); }
    .forecast__days-item-header {
      padding: 15px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .forecast__days-item-details {
      padding: 10px; }
    .forecast__days-item-image img {
      width: 90px;
      height: 64px;
      object-fit: cover; }
    .forecast__days-day-night span {
      position: relative;
      display: inline-block; }
    .forecast__days-day-night span:not(:last-child) {
      margin-right: 10px; }
      .forecast__days-day-night span:not(:last-child):after {
        content: "";
        position: absolute;
        top: 8px;
        right: -10px;
        width: 1px;
        height: 15px;
        background: rgba(255, 255, 255, 0.2); }
    .forecast__days-right {
      width: 268px;
      height: 326px;
      border-radius: 4px;
      padding: 25px 28px;
      background-image: url("../../src/images/wind.jpg");
      background-size: cover;
      background-color: rgba(13, 29, 35, 0.7); }

.tv {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px; }
  .tv__pic {
    position: relative;
    z-index: 2;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: url("../../src/images/tbilisi.jpg"); }
    .tv__pic:after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: rgba(22, 23, 25, 0.3); }
  .tv__live {
    position: absolute;
    top: 30px;
    left: 30px; }
  .tv__circle {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 35px;
    height: 35px; }
    .tv__circle--large {
      width: 55px;
      height: 55px;
      background: rgba(255, 255, 255, 0.4); }
    .tv__circle--medium {
      width: 45px;
      height: 45px;
      background: rgba(255, 255, 255, 0.8); }
    .tv__circle--small {
      width: 35px;
      height: 35px;
      background: #f51b00; }
  .tv__cities {
    position: absolute !important;
    z-index: 2;
    bottom: 20px;
    right: 20px; }
  .tv button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.weather-hours {
  border-radius: 5px;
  padding: 25px;
  height: 100%;
  background: url("../../src/images/weather-days-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #fff; }
  .weather-hours:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 67, 86, 0.7);
    border-radius: 5px; }
  .weather-hours__content {
    position: relative;
    z-index: 2; }
  .weather-hours__list {
    margin: 20px 0; }
  .weather-hours__list-item:not(:last-child) {
    margin-bottom: 20px; }
  .weather-hours__list-item-date svg {
    width: 20px;
    height: 20px;
    fill: #fff; }
  .weather-hours__list-item-image img {
    width: 50px; }

.currency {
  border-radius: 5px;
  padding: 25px;
  height: 100%;
  background: url("../../src/images/currency-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #fff; }
  .currency:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 67, 86, 0.8);
    border-radius: 5px; }
  .currency__content {
    position: relative;
    z-index: 2; }
  .currency__list {
    margin: 20px 0; }
  .currency__list-item {
    border-radius: 5px;
    background: #fff;
    color: #000; }
    .currency__list-item:not(:last-child) {
      margin-bottom: 15px; }
    .currency__list-item-currency {
      padding: 15px;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      width: 180px; }
    .currency__list-item-currency-type {
      width: 50px; }
    .currency__list-item-currency-val img {
      width: 28px;
      height: 16px;
      margin-top: -3px; }
    .currency__list-item-convert {
      color: rgba(0, 0, 0, 0.8);
      padding-right: 30px; }

.footer {
  background: rgba(7, 19, 22, 0.2);
  padding: 30px 0; }
  .footer__nav {
    color: #fff; }
    .footer__nav li:not(:last-child) {
      margin-right: 25px; }
    .footer__nav a {
      transition: 0.2s ease; }
      .footer__nav a:hover {
        color: #f9b024; }
    .footer__nav--right li:not(:last-child) {
      position: relative; }
      .footer__nav--right li:not(:last-child):after {
        content: "";
        position: absolute;
        top: 5px;
        right: -15px;
        width: 1px;
        height: 10px;
        background: rgba(255, 255, 255, 0.2); }
  .footer__fb svg {
    width: 30px;
    height: 30px; }
  .footer .copyright {
    color: #9faeb3; }
    .footer .copyright a {
      color: #fff; }

.select {
  padding: 14px 15px;
  background: #fff;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative; }
  .select--strong {
    padding: 15px 15px; }
  .select--transparent {
    background: rgba(255, 255, 255, 0.8); }
  .select--transparent {
    border: 1px solid rgba(255, 255, 255, 0.8); }
  .select__label img {
    width: 24px;
    height: 16px; }
  .select__arrow-down {
    margin-left: 50px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .select__arrow-down--bordered {
      border: 1px solid #eeedf7; }
    .select__arrow-down--contained {
      background: #fff; }
  .select svg {
    width: 10px;
    height: 10px; }
  .select.search svg {
    width: 20px;
    height: 20px; }

.dropdown {
  position: absolute;
  z-index: 2;
  top: 70px;
  left: 0;
  width: 100%;
  max-height: 600px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  transition: opacity 0.3s cubic-bezier(0.6, 0.01, 0, 0.99), transform 0.3s cubic-bezier(0.6, 0.01, 0, 0.99); }
  .dropdown ul {
    width: 100%; }
    .dropdown ul img {
      width: 24px;
      height: 16px; }
    .dropdown ul a {
      display: flex;
      align-items: center;
      color: #898b8e;
      padding: 8px 15px; }
    .dropdown ul li:not(:last-child) a {
      border-bottom: 1px solid #eee; }
  .dropdown.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto; }
  .dropdown:before {
    content: "";
    position: absolute;
    top: -10px;
    right: 15px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff; }
  .dropdown--top {
    top: -50px;
    transform: translateY(-20px); }
    .dropdown--top:before {
      top: unset;
      bottom: -10px;
      border-bottom: none;
      border-top: 10px solid #fff; }
  .dropdown--geo, .dropdown--world {
    padding: 25px; }
    .dropdown--geo ul, .dropdown--world ul {
      display: flex;
      flex-wrap: wrap;
      max-height: 600px; }
      .dropdown--geo ul li, .dropdown--world ul li {
        cursor: pointer;
        padding: 15px;
        width: 186px;
        border: 1px solid #eeedf7;
        background: transparent;
        border-radius: 5px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        transition: color 0.2s ease, border 0.2s, background 0.2s ease; }
        .dropdown--geo ul li:not(:nth-child(5n + 0)), .dropdown--world ul li:not(:nth-child(5n + 0)) {
          margin-right: 25px; }
        .dropdown--geo ul li:hover, .dropdown--world ul li:hover {
          color: #fff;
          background: #ffb701;
          border: 1px solid transparent; }
  .dropdown--geo:before {
    left: 170px;
    right: unset; }
  .dropdown--world:before {
    left: 430px;
    right: unset; }

input {
  border: none;
  outline: none;
  transition: 0.2s ease; }
  input::placeholder {
    opacity: 0.5; }
  input:hover::placeholder {
    opacity: 0.7; }
  input:focus::placeholder {
    opacity: 1; }

.btn {
  border: none;
  outline: none;
  background: none;
  padding: 0; }
  .btn--more {
    color: #fff;
    transition: color 0.2s ease; }
    .btn--more:hover {
      color: #f9b024; }
    .btn--more span {
      margin-right: 10px; }
    .btn--more svg {
      width: 10px; }
  .btn--play {
    width: 75px;
    height: 75px;
    background: #f9b024;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease; }
    .btn--play:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
      .btn--play:hover svg {
        transform: scale(1); }
    .btn--play svg {
      width: 25px;
      fill: #fff;
      transform: scale(0.9);
      transition: transform 0.3s ease; }

.chart {
  padding: 40px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.hamburger span {
  display: inline-block;
  width: 30px;
  height: 5px;
  border-radius: 2px;
  background: white;
  position: relative;
  transition: background 0.5s ease; }
  .hamburger span:after, .hamburger span:before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background: #fff;
    transition: transform 0.5s ease; }
  .hamburger span:before {
    top: -10px; }
  .hamburger span:after {
    top: 10px; }

.myModal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease; }
  .myModal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 40px; }
  .myModal.visible {
    opacity: 1;
    pointer-events: auto; }

@media (min-width: 1260px) {
  .container {
    max-width: 1200px; } }

@media (max-width: 1199px) {
  .header__logo {
    width: 100%; }
    .header__logo img {
      width: 100%; }
  .header__nav-item {
    padding: 8px; }
  .filters .dropdown--geo ul li:not(:nth-child(5n + 0)), .filters .dropdown--world ul li:not(:nth-child(5n + 0)) {
    margin-right: 20px; }
  .filters .dropdown--geo li, .filters .dropdown--world li {
    padding: 10px;
    width: 166px; }
  .filters .dropdown--geo:before {
    left: 150px; }
  .filters .dropdown--world:before {
    left: 390px; }
  .filters .select__arrow-down {
    margin-left: 30px; }
  .forecast__content {
    padding: 15px; }
  .forecast__weather-image img {
    width: 100px; }
  .forecast__days-item:last-child {
    display: none; }
  .footer__nav li:not(:last-child) {
    margin-right: 20px; }
  .footer__nav--right li:not(:last-child):after {
    right: -10px; } }

@media (max-width: 991px) {
  .header__logo img {
    width: 215px; }
  .header__nav {
    display: none; }
    .header__nav-mobile {
      display: block;
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(11, 37, 51, 0.95);
      transform: translateX(100%);
      transition: transform 0.3s cubic-bezier(0.65, 0, 0.44, 1.01); }
      .header__nav-mobile__close svg {
        width: 22px;
        height: 22px;
        fill: #fff;
        margin-right: 10px;
        margin-top: -5px;
        transition: fill 0.2s ease; }
      .header__nav-mobile__header {
        padding: 30px;
        background: rgba(255, 255, 255, 0.1);
        color: #fff; }
      .header__nav-mobile.shown {
        transform: translateX(0); }
    .header__nav-item {
      display: block;
      width: 100%;
      padding: 20px 30px; }
      .header__nav-item--tv {
        border-radius: 0; }
  .header__mobile-bar {
    opacity: 1;
    pointer-events: auto; }
    .header__mobile-bar svg {
      width: 27px;
      height: 27px;
      fill: #fff; }
  .header .searchbar {
    background: black;
    border-radius: 4px;
    padding: 10px 20px 10px 10px; }
    .header .searchbar input {
      width: 100%;
      background: black;
      padding: 10px;
      color: #fff; }
      .header .searchbar input::placeholder {
        color: #fff; }
    .header .searchbar svg {
      width: 18px;
      height: 18px;
      fill: #fff; }
  .filters .search {
    display: none; }
  .filters .dropdown--world {
    display: none; }
  .filters .dropdown--geo ul li:not(:nth-child(3n + 0)) {
    margin-right: 20px; }
  .filters .select--world {
    display: none; }
  .filters .select.langs {
    order: 2; }
  .filters .select.temperature {
    order: 1; }
    .filters .select.temperature span {
      margin-left: 10px; }
  .forecast__days {
    display: none; }
  .tv {
    height: 345px;
    margin-bottom: 20px; }
  .weather-hours {
    margin-left: -1rem; }
  .chart {
    display: none; }
  .currency {
    margin-left: -1rem; }
  .footer__nav {
    display: none; }
    .footer__nav--right {
      display: flex;
      width: 100%; }
      .footer__nav--right > div {
        width: 100%;
        justify-content: space-between !important; } }

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 40px; }
  .filters .dropdown--geo {
    left: 40px;
    width: calc(100% - 80px); }
  .forecast {
    margin-top: 0; }
    .forecast__content {
      background: rgba(13, 29, 35, 0.5);
      margin-left: -20px;
      margin-right: -20px;
      padding: 25px 40px;
      border-radius: 0; }
    .forecast__footer {
      background: transparent;
      padding: 20px 0; } }

@media (max-width: 499px) {
  .container {
    padding: 0 20px; }
  .header__logo img {
    width: 140px; }
  .header__mobile-bar svg {
    width: 18px;
    height: 18px; }
  .hamburger span {
    height: 3px; }
    .hamburger span:after, .hamburger span:before {
      height: 3px; }
    .hamburger span:before {
      top: -8px; }
    .hamburger span:after {
      top: 8px; }
  .filters .dropdown--geo {
    left: 20px;
    width: calc(100% - 40px); }
  .filters .cities {
    width: 100%;
    margin-bottom: 12px; }
    .filters .cities .select--geo {
      width: 100%;
      justify-content: space-between; }
  .filters .temperature {
    justify-content: space-between; }
  .filters .temperature,
  .filters .langs {
    width: 50%; }
  .currency__list-item-currency {
    padding: 10px;
    width: 140px; }
  .currency__list-item-convert {
    font-size: 12px; } }
