@keyframes chartjs-render-animation {
  from {
    opacity: .99; }
  to {
    opacity: 1; } }

.chartjs-render-monitor {
  animation: chartjs-render-animation 1ms; }

.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
  position: absolute;
  direction: ltr;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1; }

.chartjs-size-monitor-expand > div {
  position: absolute;
  width: 1000000px;
  height: 1000000px;
  left: 0;
  top: 0; }

.chartjs-size-monitor-shrink > div {
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@font-face {
  font-family: main;
  src: url("../fonts/MyriadGEOMtavruliMedium_0.ttf"); }

@font-face {
  font-family: mainBold;
  src: url("../fonts/MyriadGEOMtavruliBold.otf"); }

@font-face {
  font-family: secondary;
  src: url("../fonts/HelveticaNeueLTGEO-55Roman.ttf"); }

@font-face {
  font-family: secondaryBold;
  src: url("../fonts/HelveticaNeueLTGEO-75Bold.ttf"); }

body {
  font-family: main;
  font-size: 14px; }

.select {
  font-size: 14px;
  font-family: main; }
  .select--strong {
    font-family: main; }

.btn {
  font-size: 15px; }

.dropdown {
  font-family: secondary;
  font-size: 14px; }

.forecast {
  font-family: secondary;
  font-size: 13px; }
  .forecast__city-name {
    font-family: main;
    font-size: 30px; }
  .forecast__datetime {
    font-family: secondary;
    font-size: 13px; }
  .forecast__weather {
    font-family: secondaryBold;
    font-size: 16px; }
  .forecast__temp {
    font-family: mainBold;
    font-size: 40px; }
  .forecast__days {
    font-family: main; }
    .forecast__days-title {
      font-size: 18px; }
    .forecast__days-day {
      font-size: 15px; }
    .forecast__days-item-details article {
      font-family: secondary; }
    .forecast__days-day-night {
      font-size: 20px;
      font-family: secondaryBold; }
    .forecast__days-right {
      font-family: secondary;
      font-size: 13px; }
      .forecast__days-right header {
        font-family: main;
        font-size: 17px; }
  .forecast__item-header {
    font-size: 13px; }
  .forecast__footer {
    font-family: secondary; }

.tv__circle {
  font-family: secondaryBold;
  font-size: 10px; }

.weather-hours {
  font-family: secondary;
  font-size: 15px; }
  .weather-hours__title {
    font-family: main;
    font-size: 18px; }
  .weather-hours__list-item-desc {
    font-size: 14px; }
  .weather-hours__list-item-temp {
    font-size: 17px;
    font-family: secondaryBold; }
    .weather-hours__list-item-temp sup {
      font-family: secondary; }
  .weather-hours__footer {
    font-family: main; }

.currency__title {
  font-size: 18px; }

.currency__list-item-convert {
  font-family: secondary; }

.currency__converter-title {
  font-size: 14px; }

.main__title {
  font-size: 18px; }
  .main__title p {
    font-family: secondary;
    font-size: 13px; }

.table {
  font-family: secondary;
  font-size: 15px; }

.input-group-text,
.form-group-text {
  font-size: 13px; }

.input-group input,
.input-group textarea,
.input-group select,
.form-group input,
.form-group textarea,
.form-group select {
  font-family: secondary;
  font-size: 14px; }

.input button,
.form button {
  font-size: 14px; }

.radio__list {
  font-family: secondary;
  font-size: 14px; }

.world-time__time {
  font-family: secondary; }

.contact-page__info-item {
  font-family: secondary;
  font-size: 13px; }

.contact-page__info-title {
  font-family: main;
  font-size: 15px; }

.contact-page__fb {
  font-family: secondary; }

.copyright {
  font-family: secondary; }

@media (max-width: 1679px) {
  .select {
    font-size: 13px; }
  .forecast__city-name {
    font-size: 24px; }
  .forecast__days-title {
    font-size: 16px; }
  .forecast__days-day-night {
    font-size: 16px; } }

@media (max-width: 1365px) {
  .header__nav-item {
    font-size: 13px; } }

@media (max-width: 991px) {
  .header__nav-mobile {
    font-size: 16px; } }

@media (max-width: 765px) {
  .forecast__days-title {
    font-size: 14px; }
  .forecast__days-day {
    font-size: 13px; }
  .forecast__days-date {
    font-size: 12px; }
  .forecast__days-day-night {
    font-size: 14px; }
    .forecast__days-day-night span:not(last-child):after {
      display: none; } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  background: url("../images/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  body:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(14, 38, 46, 0.4); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  margin-bottom: 0; }

ul,
label,
figure {
  list-style-type: none;
  margin-bottom: 0; }

a,
a:hover {
  color: inherit;
  text-decoration: none; }

a[role="button"] {
  cursor: pointer; }

.container {
  transition: max-width 0.2s ease; }
  .container.main {
    background: #fff;
    border-radius: 5px; }
    .container.main--transparent {
      background: rgba(22, 47, 64, 0.6);
      color: #fff; }

main {
  margin: 20px auto; }

.main__header {
  padding: 20px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.main__content {
  padding: 20px 30px; }

.sidebar {
  max-width: 340px; }

.main-content {
  flex: 0 0 calc(100% - 340px);
  max-width: calc(100% - 340px); }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

.flex-2 {
  flex: 3 !important; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 0;
  /* Firefox 1-3.6 */
  border-radius: 0;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */ }

/* For IE10 */
select::-ms-expand {
  display: none; }

.header {
  padding: 25px 0;
  background: rgba(9, 13, 20, 0.4);
  position: sticky;
  z-index: 9999;
  top: 0;
  transition: background 0.3s ease, padding 0.3s ease; }
  .header.scrolled {
    background: rgba(9, 13, 20, 0.8);
    padding: 15px 0; }
  .header__nav-mobile {
    display: none; }
  .header__nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .header__nav li:hover .header__nav-dropdown {
    opacity: 1;
    pointer-events: auto; }
  .header__nav li:not(:last-child) {
    margin-right: 5px; }
  .header__nav-item {
    padding: 15px;
    color: #fff !important;
    background: transparent;
    border-radius: 5px;
    transition: background 0.3s ease;
    position: relative; }
    .header__nav-item svg {
      width: 18px;
      height: 18px;
      fill: #fff;
      margin-top: -5px;
      margin-right: 2px; }
    .header__nav-item.active, .header__nav-item:hover {
      color: #fff;
      background: rgba(255, 255, 255, 0.1); }
    .header__nav-item--dropdown span {
      margin-left: 10px; }
      .header__nav-item--dropdown span svg {
        transform: rotate(-90deg);
        transition: transform 0.2s ease; }
      .header__nav-item--dropdown span.shown svg {
        transform: rotate(0); }
    .header__nav-item--tv, .header__nav-item--tv.active {
      background: #fb0b32; }
      .header__nav-item--tv:hover, .header__nav-item--tv.active:hover {
        background: #fb0b32;
        color: #fff; }
  .header__nav-dropdown {
    position: absolute;
    z-index: 3;
    top: 35px;
    left: 0;
    background: #fff;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease; }
    .header__nav-dropdown ul {
      flex-direction: column;
      align-items: unset; }
      .header__nav-dropdown ul li:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-right: 0; }
      .header__nav-dropdown ul a {
        display: block;
        padding: 10px;
        transition: background 0.2s ease; }
        .header__nav-dropdown ul a:hover {
          background: rgba(0, 0, 0, 0.1); }
  .header__mobile-bar {
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease; }

.filters {
  padding: 10px 0;
  background: url("../images/filters-bg.png");
  background-size: cover; }
  .filters__container {
    position: relative; }
  .filters .temperature .select__arrow-down {
    margin-left: 20px; }

.forecast {
  margin-top: 20px;
  color: #fff; }
  .forecast__content {
    color: #fff;
    padding: 25px 28px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(13, 29, 35, 0.5); }
  .forecast__datetime svg {
    fill: #fff;
    width: 12px;
    height: 12px;
    margin-right: 5px; }
  .forecast__footer {
    color: #fff;
    padding: 25px 28px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(255, 255, 255, 0.12); }
  .forecast__weather-image img {
    width: 140px; }
  .forecast__days {
    padding: 20px;
    background: rgba(13, 29, 35, 0.5);
    border-radius: 5px;
    height: 100%; }
    .forecast__days-title svg {
      fill: #fff;
      width: 25px;
      height: 25px; }
    .forecast__days-content {
      margin-top: 25px; }
    .forecast__days-items {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 4px; }
    .forecast__days-item {
      flex: 1;
      text-align: center; }
      .forecast__days-item:not(:last-child) {
        border-right: 1px solid rgba(255, 255, 255, 0.2); }
    .forecast__days-item-header {
      padding: 15px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .forecast__days-item-details {
      padding: 10px;
      display: flex;
      flex-direction: column;
      height: 70%;
      overflow: hidden;
      justify-content: space-between; }
    .forecast__days-item-image img {
      width: 90px;
      height: 64px;
      object-fit: cover; }
    .forecast__days-day-night span {
      position: relative;
      display: inline-block; }
    .forecast__days-day-night span:not(:last-child) {
      margin-right: 10px; }
      .forecast__days-day-night span:not(:last-child):after {
        content: "";
        position: absolute;
        top: 8px;
        right: -10px;
        width: 1px;
        height: 15px;
        background: rgba(255, 255, 255, 0.2); }
    .forecast__days-wind {
      color: #fff;
      width: 268px;
      height: 326px;
      border-radius: 4px;
      padding: 25px 28px;
      background-image: url("../../src/images/wind.jpg");
      background-size: cover;
      background-color: rgba(13, 29, 35, 0.7); }
      .forecast__days-wind--full {
        width: 100%;
        height: initial;
        background-image: url("../../src/images/wind-bg-small.jpg");
        background-position-y: 50%; }
  .forecast__days-footer {
    display: none; }

.tv {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px; }
  .tv__pic {
    position: relative;
    z-index: 2;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: url("../../src/images/tbilisi.jpg"); }
    .tv__pic:after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: rgba(22, 23, 25, 0.3); }
  .tv__live {
    position: absolute;
    top: 30px;
    left: 30px; }
  .tv__circle {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 35px;
    height: 35px; }
    .tv__circle--large {
      width: 55px;
      height: 55px;
      background: rgba(255, 255, 255, 0.4); }
    .tv__circle--medium {
      width: 45px;
      height: 45px;
      background: rgba(255, 255, 255, 0.8); }
    .tv__circle--small {
      width: 35px;
      height: 35px;
      background: #f51b00; }
  .tv__cities {
    position: absolute !important;
    z-index: 2;
    bottom: 20px;
    right: 20px; }
  .tv button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.weather-hours {
  border-radius: 5px;
  padding: 25px;
  background: url("../../src/images/weather-days-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #fff; }
  .weather-hours:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 67, 86, 0.7);
    border-radius: 5px; }
  .weather-hours__content {
    position: relative;
    z-index: 2; }
  .weather-hours__list {
    margin: 20px 0; }
  .weather-hours__list-item:not(:last-child) {
    margin-bottom: 20px; }
  .weather-hours__list-item-date svg {
    width: 20px;
    height: 20px;
    fill: #fff; }
  .weather-hours__list-item-image img {
    width: 50px; }

.currency {
  border-radius: 5px;
  padding: 25px;
  background: url("../../src/images/currency-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #fff; }
  .currency:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 67, 86, 0.8);
    border-radius: 5px; }
  .currency__content {
    position: relative;
    z-index: 2; }
  .currency__list {
    margin: 20px 0; }
  .currency__list-item {
    border-radius: 5px;
    background: #fff;
    color: #000; }
    .currency__list-item:not(:last-child) {
      margin-bottom: 15px; }
    .currency__list-item-currency {
      padding: 15px;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      width: 180px; }
    .currency__list-item-currency-type {
      width: 50px; }
    .currency__list-item-currency-val img {
      width: 28px;
      height: 16px;
      margin-top: -3px; }
    .currency__list-item-convert {
      color: rgba(0, 0, 0, 0.8);
      padding-right: 30px; }

.currency__converter .br-1 {
  border-right: 1px solid rgba(0, 0, 0, 0.2); }

.currency__converter-item {
  padding: 20px 30px; }

.footer {
  background: rgba(7, 19, 22, 0.2);
  padding: 30px 0; }
  .footer__nav {
    color: #fff; }
    .footer__nav li:not(:last-child) {
      margin-right: 25px; }
    .footer__nav a {
      transition: 0.2s ease; }
      .footer__nav a:hover {
        color: #f9b024; }
    .footer__nav--right li:not(:last-child) {
      position: relative; }
      .footer__nav--right li:not(:last-child):after {
        content: "";
        position: absolute;
        top: 5px;
        right: -15px;
        width: 1px;
        height: 10px;
        background: rgba(255, 255, 255, 0.2); }
  .footer__fb svg {
    width: 30px;
    height: 30px; }
  .footer .copyright {
    color: #9faeb3; }
    .footer .copyright a {
      color: #fff; }

.select {
  padding: 14px 15px;
  background: #fff;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative; }
  .select--strong {
    padding: 15px 15px; }
  .select--transparent {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8); }
  .select--bordered {
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .select__label img {
    width: 24px;
    height: 16px; }
  .select__arrow-down {
    margin-left: 50px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .select__arrow-down--bordered {
      border: 1px solid #eeedf7; }
    .select__arrow-down--contained {
      background: #fff; }
  .select svg {
    width: 10px;
    height: 10px; }
  .select.search svg {
    width: 20px;
    height: 20px; }

.dropdown {
  position: absolute;
  z-index: 2;
  top: 70px;
  left: 0;
  width: 100%;
  max-height: 600px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  transition: opacity 0.3s cubic-bezier(0.6, 0.01, 0, 0.99), transform 0.3s cubic-bezier(0.6, 0.01, 0, 0.99); }
  .dropdown--shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
  .dropdown ul {
    width: 100%; }
    .dropdown ul img {
      width: 24px;
      height: 16px; }
    .dropdown ul a {
      display: flex;
      align-items: center;
      padding: 8px 15px; }
    .dropdown ul li:not(:last-child) a {
      border-bottom: 1px solid #eee; }
  .dropdown.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto; }
  .dropdown:before {
    content: "";
    position: absolute;
    top: -10px;
    right: 15px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff; }
  .dropdown--top {
    top: unset;
    bottom: 70px;
    transform: translateY(-20px); }
    .dropdown--top:before {
      top: unset;
      bottom: -10px;
      border-bottom: none;
      border-top: 10px solid #fff; }
  .dropdown--geo, .dropdown--world {
    padding: 25px; }
    .dropdown--geo ul, .dropdown--world ul {
      display: flex;
      flex-wrap: wrap;
      max-height: 600px; }
      .dropdown--geo ul li, .dropdown--world ul li {
        cursor: pointer;
        padding: 15px;
        width: 186px;
        border: 1px solid #eeedf7;
        background: transparent;
        border-radius: 5px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        transition: color 0.2s ease, border 0.2s, background 0.2s ease; }
        .dropdown--geo ul li:not(:nth-child(5n + 0)), .dropdown--world ul li:not(:nth-child(5n + 0)) {
          margin-right: 25px; }
        .dropdown--geo ul li:hover, .dropdown--world ul li:hover {
          color: #fff;
          background: #ffb701;
          border: 1px solid transparent; }
  .dropdown--geo:before {
    left: 170px;
    right: unset; }
  .dropdown--world:before {
    left: 430px;
    right: unset; }
  .dropdown--default ul {
    padding: 0; }
    .dropdown--default ul a {
      display: block;
      padding: 10px;
      transition: background 0.2s ease; }
      .dropdown--default ul a:hover {
        background: rgba(0, 0, 0, 0.1); }

input {
  border: none;
  outline: none;
  transition: 0.2s ease; }
  input::placeholder {
    opacity: 0.5;
    font-size: 13px; }
  input:hover::placeholder {
    opacity: 0.7; }
  input:focus::placeholder {
    opacity: 1; }

.input-group img {
  width: 24px;
  height: 16px; }

.input-group-prepend {
  width: 100px;
  border: 1px solid #ced4da;
  justify-content: space-between;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.input-group-text {
  background: transparent;
  border: none; }
  .input-group-text:last-child {
    padding: 0 0.75rem 0 0; }

.btn {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  transition: color 0.2s ease, background 0.2s ease, border 0.2s ease; }
  .btn--default {
    padding: 15px; }
  .btn--outlined {
    border: 1px solid rgba(0, 0, 0, 0.2); }
    .btn--outlined:hover {
      border: 1px solid #ffb701;
      background: #ffb701;
      color: #fff; }
      .btn--outlined:hover svg {
        fill: #fff; }
  .btn svg {
    width: 21px;
    height: 15px;
    margin-right: 10px; }
  .btn--more {
    color: #fff;
    transition: color 0.2s ease; }
    .btn--more:hover {
      color: #f9b024; }
    .btn--more span {
      margin-right: 10px; }
    .btn--more svg {
      width: 10px;
      margin-right: 0; }
  .btn--fb {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s ease, border 0.2s ease; }
    .btn--fb svg {
      width: 9px !important;
      height: 18px !important;
      fill: #3752a1;
      transition: fill 0.2s ease;
      margin-right: 0; }
    .btn--fb:hover {
      border: 1px solid #3752a1;
      background: #3752a1; }
      .btn--fb:hover svg {
        fill: #fff; }
  .btn--yellow {
    background: #ffb701;
    color: #fff; }
    .btn--yellow svg {
      fill: #fff; }
    .btn--yellow:hover {
      color: #fff; }
  .btn--green {
    background: #1ab558;
    color: #fff; }
    .btn--green:hover {
      color: #fff; }
  .btn--play {
    width: 75px;
    height: 75px;
    background: #f9b024;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease; }
    .btn--play:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
      .btn--play:hover svg {
        transform: scale(1); }
    .btn--play svg {
      width: 25px;
      height: unset;
      margin-right: 0;
      fill: #fff;
      transform: scale(0.9);
      transition: transform 0.3s ease; }

.chart {
  padding: 40px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.hamburger span {
  display: inline-block;
  width: 30px;
  height: 5px;
  border-radius: 2px;
  background: white;
  position: relative;
  transition: background 0.5s ease; }
  .hamburger span:after, .hamburger span:before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background: #fff;
    transition: transform 0.5s ease; }
  .hamburger span:before {
    top: -10px; }
  .hamburger span:after {
    top: 10px; }

.myModal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease; }
  .myModal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 40px; }
  .myModal.visible {
    opacity: 1;
    pointer-events: auto; }

.table thead svg {
  width: 23px;
  height: 23px; }

.table tbody img {
  width: 24px;
  height: 16px; }

.table th.centered,
.table td.centered {
  text-align: center; }

.table th span,
.table td span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #f51137;
  border-radius: 50%;
  margin-right: 5px; }

.table .btn--fb {
  margin: 0 auto; }

.table-flex__header .table-flex__row {
  background: #e9e8f3; }

.table-flex__row {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; }

.table-flex__col {
  padding: 20px; }
  .table-flex__col:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
  .table-flex__col.centered {
    display: inline-flex;
    justify-content: center;
    align-items: center; }

.table-flex__header img, .table-flex__body img {
  width: 90px;
  height: 24px;
  object-fit: contain; }

.pagination__item {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  color: #fff;
  background: #252c2f;
  transition: background 0.2s ease; }
  .pagination__item:hover, .pagination__item.active {
    background: #ffb701; }
  .pagination__item:not(:last-child) {
    margin-right: 25px; }

.radio__list {
  color: #535861;
  display: flex;
  flex-wrap: wrap; }

.radio__list-item {
  padding: 10px;
  border: 1px solid #eeedf7;
  border-radius: 5px;
  width: 225px;
  margin-bottom: 20px;
  transition: background 0.2s ease, border 0.2s ease, color 0.2s ease; }
  .radio__list-item:not(:nth-child(3n + 0)) {
    margin-right: 20px; }
  .radio__list-item svg {
    width: 15px;
    height: 17px;
    transition: fill 0.2s ease; }
  .radio__list-item:hover {
    background: #f9b024;
    color: #fff; }
    .radio__list-item:hover svg {
      fill: #fff; }

.world-time__item {
  border: 1px solid #eeedf7;
  border-radius: 5px;
  padding: 25px;
  flex-direction: column;
  margin-bottom: 30px; }

.world-time__image {
  width: 144px;
  height: 144px;
  margin: 0 auto; }
  .world-time__image img {
    width: 100%;
    height: 100%; }

.world-time__content img {
  width: 32px;
  height: 21px; }

.contact-page__info-item svg {
  width: 25px;
  height: 33px;
  fill: #ffb701; }

.contact-page__info-item span {
  color: #6e7580; }

.contact-page__fb svg {
  width: 30px;
  height: 30px;
  fill: #1976d2;
  margin-right: 5px; }

.contact-page__fb a {
  color: #1976d2; }

@media (max-width: 1679px) {
  .container {
    max-width: 1100px; }
  .header__logo {
    width: 80%; }
    .header__logo img {
      width: 100%; }
  .header__nav-item {
    padding: 12px; }
  .select {
    padding: 8px 12px; }
  .forecast__content {
    padding: 15px; } }

@media (max-width: 1365px) {
  .container {
    max-width: 960px; }
  .header__logo {
    width: 70%; }
  .header__nav-item {
    padding: 8px; }
  .forecast__datetime {
    flex-wrap: wrap; }
  .forecast__days-wind {
    display: none; }
  .currency__converter-item {
    padding: 20px; } }

@media (max-width: 1199px) {
  .header__logo {
    width: 100%; }
    .header__logo img {
      width: 100%; }
  .header__nav-item {
    padding: 8px; }
  .filters .dropdown--geo ul li:not(:nth-child(5n + 0)), .filters .dropdown--world ul li:not(:nth-child(5n + 0)) {
    margin-right: 20px; }
  .filters .dropdown--geo li, .filters .dropdown--world li {
    padding: 10px;
    width: 166px; }
  .filters .dropdown--geo:before {
    left: 150px; }
  .filters .dropdown--world:before {
    left: 390px; }
  .filters .select__arrow-down {
    margin-left: 30px; }
  .forecast__content {
    padding: 15px; }
  .forecast__weather-image img {
    width: 100px; }
  .footer__nav li:not(:last-child) {
    margin-right: 20px; }
  .footer__nav--right li:not(:last-child):after {
    right: -10px; } }

@media (max-width: 991px) {
  .header__logo img {
    width: 215px; }
  .header__nav {
    display: none; }
    .header__nav-mobile {
      display: block;
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(11, 37, 51, 0.95);
      transform: translateX(100%);
      transition: transform 0.3s cubic-bezier(0.65, 0, 0.44, 1.01); }
      .header__nav-mobile__close svg {
        width: 22px;
        height: 22px;
        fill: #fff;
        margin-right: 10px;
        margin-top: -5px;
        transition: fill 0.2s ease; }
      .header__nav-mobile__header {
        padding: 30px;
        background: rgba(255, 255, 255, 0.1);
        color: #fff; }
      .header__nav-mobile.shown {
        transform: translateX(0); }
      .header__nav-mobile__dropdown {
        display: none; }
    .header__nav-item {
      display: block;
      width: 100%;
      padding: 20px 30px; }
      .header__nav-item--tv {
        border-radius: 0; }
  .header__mobile-bar {
    display: flex;
    opacity: 1;
    pointer-events: auto; }
    .header__mobile-bar svg {
      width: 27px;
      height: 27px;
      fill: #fff; }
  .header .searchbar {
    background: black;
    border-radius: 4px;
    padding: 10px 20px 10px 10px; }
    .header .searchbar input {
      width: 100%;
      background: black;
      padding: 10px;
      color: #fff; }
      .header .searchbar input::placeholder {
        color: #fff; }
    .header .searchbar svg {
      width: 18px;
      height: 18px;
      fill: #fff; }
  .filters .search {
    display: none; }
  .filters .dropdown--world {
    display: none; }
  .filters .dropdown--geo ul li:not(:nth-child(3n + 0)) {
    margin-right: 20px; }
  .filters .select--world {
    display: none; }
  .filters .select.langs {
    order: 2; }
  .filters .select.temperature {
    order: 1; }
    .filters .select.temperature span {
      margin-left: 10px; }
  .forecast__days {
    margin-left: -1rem;
    margin-top: 20px;
    height: unset; }
  .tv {
    height: 345px;
    margin-bottom: 20px; }
  .weather-hours {
    margin-left: -1rem; }
  .chart {
    display: none; }
  .currency {
    margin-left: -1rem; }
  .footer__nav {
    display: none; }
    .footer__nav--right {
      display: flex;
      width: 100%; }
      .footer__nav--right > div {
        width: 100%;
        justify-content: space-between !important; } }

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 40px; }
  .m-dn {
    display: none; }
  .filters .dropdown--geo {
    left: 40px;
    width: calc(100% - 80px); }
  .forecast__content {
    background: rgba(13, 29, 35, 0.5);
    margin-left: -20px;
    margin-right: -20px;
    padding: 25px 40px;
    border-radius: 0; }
  .forecast__footer {
    padding: 25px 40px;
    margin-left: -20px;
    margin-right: -20px; }
  .forecast__days-item:nth-child(3), .forecast__days-item:nth-child(4) {
    border-bottom: none; }
  .forecast__days-item:nth-child(even) {
    border-right: none; }
  .forecast__days-footer {
    display: block;
    margin-top: 25px; }
  .tv {
    height: 245px; } }

@media (max-width: 675px) {
  .forecast__days-item:last-child {
    display: none; } }

@media (max-width: 580px) {
  .forecast__days-header {
    flex-wrap: wrap; }
  .forecast__days-items {
    flex-wrap: wrap; }
  .forecast__days-item {
    flex: unset;
    width: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .forecast__days-item-header {
    border-bottom: none; } }

@media (max-width: 499px) {
  .container {
    padding: 0 20px; }
  .header__logo img {
    width: 140px; }
  .header__mobile-bar svg {
    width: 18px;
    height: 18px; }
  .hamburger span {
    height: 3px; }
    .hamburger span:after, .hamburger span:before {
      height: 3px; }
    .hamburger span:before {
      top: -8px; }
    .hamburger span:after {
      top: 8px; }
  .filters .dropdown--geo {
    left: 20px;
    width: calc(100% - 40px); }
  .filters .cities {
    width: 100%;
    margin-bottom: 12px; }
    .filters .cities .select--geo {
      width: 100%;
      justify-content: space-between; }
  .filters .temperature {
    justify-content: space-between; }
  .filters .temperature,
  .filters .langs {
    width: 50%; }
  .currency__list-item-currency {
    padding: 10px;
    width: 140px; }
  .currency__list-item-convert {
    font-size: 12px; } }
